.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FE775A;
    color: #FFFF;  /* Cor do texto alterada para branco */
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;  /* O botão começa invisível */
    opacity: 0;     /* Começa invisível */
    transform: translateY(100px);  /* Começa fora da tela */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn-topo.show {
    display: block;  /* Torna o botão visível */
    opacity: 1;      /* Fica visível */
    transform: translateY(0);  /* Vai para a posição original */
}

.btn-topo:hover {
    background-color: #D95B48;
}
