.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FE775A;
    color: #ffff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
}

.btn-topo:hover{
    background-color: #D95B48;
}