/* ========== NAVBAR ========== */
:root {
    --margin-horizontal: 120px;
    --margin-vertical: 80px;
}

header {
    width: 100%;
    padding: 20px 4%;  /* Ajuste o padding conforme necessário */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #000;  /* Cor do fundo da navbar */
    transition: background-color 0.3s ease;  /* Efeito de transição para quando mudar o fundo */
}

header.rolagem {
    background-color: #fff; /* Cor de fundo ao rolar */
}

header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i {
    font-size: 30px;
    color: #fff;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #0F4C75;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

header ul li a:hover {
    transform: scale(1.2);
    color: #4B0082;
}

.btn-contato button {
    background-color: RGBA(75, 0, 130, 0.5);
    color: #fff;
    border: 0;
    padding: 12px 30px;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}

.btn-contato button:hover {
    background-color: RGBA(75, 0, 130, 1);
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(254, 119, 90, 0.3);
}
