/* ========== NAVBAR ========== */
:root {
    --margin-horizontal: 120px;
    --margin-vertical: 80px;
}

header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1000;
}

header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, 
header.rolagem i {
    color: #FE775A;
}

header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i {
    font-size: 30px;
    color: #fff;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

header ul li a:hover {
    transform: scale(1.2);
    color: #B669C4;
}

.btn-contato button {
    background-color: rgba(254, 119, 90, 0.5);
    color: #fff;
    border: 0;
    padding: 12px 30px;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}

.btn-contato button:hover {
    background-color: rgba(254, 119, 90, 0.9);
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(254, 119, 90, 0.3);
}