/* ========== CONTEÚDO PRINCIPAL ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;
    background-color: #000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-margin {
    margin: var(--margin-vertical) var(--margin-horizontal);
}

.section-margin {
    margin: calc(--margin-vertical * 1.5) 0;
}

.margin-top {
    margin-top: var(--margin-vertical);
}

.margin-bottom {
    margin-bottom: var(--margin-vertical);
}

.margin-grande {
    margin: 150px auto;
}

.margin-pequena {
    margin: 40px auto;
}

.banner {
    height: 100vh;
    background-image: url(./img/fundo.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h1 {
    font-size: 4em;
}

.banner h1 span {
    color: #FE775A;
}