@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap');

body {
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

.navbar-custom {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );

  -webkit-backdrop-filter: blur(18px);
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

section {
  padding: 60px 0;
}

.hero {
  min-height: 200px;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #004085, #007bff);
  color: white;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
}

.conselho { 
  width: 100%;
  object-fit: cover; /* Importante para que object-position funcione */
  object-position: center top; /* Exemplo: Alinha o topo da imagem ao centro horizontal */
}

.picture,
.picture .col-12 {
  padding: 0;
  margin: 0;
}

#contato {
  min-height: 100vh;
  background: linear-gradient(135deg, #004085, #007bff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

#contato .form-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
}

#contato form .form-control,
#contato form .form-select,
#contato form .form-check,
#contato form .form-label {
  max-width: 500px;
  margin: 0 auto;
}

#contato form .form-label {
  display: block;
  text-align: left;
}

#contato form .btn {
  margin-top: 1rem;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }

  .hamburger {
    display: flex;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

}
